// src/styles/abstracts/_variables.scss

$header1: 3.5rem;
$header2: 4.5rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2rem;
$big-text: 2.4rem;
$small-text: 1.7rem;

// NEW COLORS
$primary-color: #2f8f83; // A slightly deeper purple
$secondary-color: #02ffa0; // Your original green (kept just in case)
$white: #f5f5f0;
$black: #000000;
