@use "../abstracts/variables" as *;
@use "../abstracts/reusables" as *;

footer {
  @include flex(space-between, flex-start, row);
  background-color: black;
  color: white;
  padding: 15rem 10rem;

  a,
  p,
  h2 {
    font-weight: 300;
  }

  p {
    margin: 2rem 0;
  }
  ul {
    @include flex(flex-start, flex-start, column);
    gap: 2rem;
  }
  button {
    cursor: pointer;
    margin-top: 4rem;
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 4rem;
    &:hover {
      background-color: #02ffa0;
    }
  }
  a {
    color: white;
  }
}
