@use "../abstracts/variables" as *;
@use "../abstracts/reusables" as *;

section {
  width: 80%;
  // min-height: 60vh;
  margin: auto;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    font-size: $big-text;
    line-height: 1.5;
    margin: 1rem;
  }

  button {
    cursor: pointer;
    margin-top: 4rem;
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 4rem;
    &:hover {
      background-color: #02ffa0;
    }
  }
  a {
    color: white;
  }
}
