@use "../abstracts/variables" as *;
@use "../abstracts/reusables" as *;

// section {
//   width: 80%;
//   // min-height: 60vh;
//   margin: auto;

//   h2 {
//     margin-bottom: 2rem;
//   }

//   p {
//     font-size: $big-text;
//     line-height: 1.5;
//     margin: 1rem;
//   }

//   button {
//     outline-color: transparent;
//     margin: 2rem 0rem;
//     padding: 1.5rem;
//     border: none;
//     transition: background-color 0.3s ease, transform 0.3s ease;
//     &:hover {
//       background-color: #7f00e0;
//       transform: scale(1.1);
//       color: white;
//     }
//   }
// }
