@use "../abstracts/variables" as *;
@use "../abstracts/reusables" as *;

.work-page {
  max-width: 85vw;
  margin: 8rem auto 5rem auto;
  padding: 1rem;
  .work-container {
    @include flex(space-around, center, row);
    margin-top: 5rem;
    flex-wrap: wrap;
    gap: 2rem;
  }

  p {
    font-size: $big-text;
    margin: 1rem;
    line-height: 1.7;
  }
  h2 {
    font-weight: 200;
  }
}

.work-item {
  @include flex(space-around, flex-start, column);
  flex: 0 1 calc(50% - 2rem);
  box-sizing: border-box;
  margin: 0;

  .image-container {
    margin-top: 5rem;
    flex: 1;
    border: none;

    border-radius: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    &:hover {
      border: 1px solid #238177;
      //   #238177
      //   #0d7482
    }
    &:hover img {
      transform: scale(1.2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  .description {
    margin-top: 3rem;
    flex: 1;

    .intro {
      font-size: $small-text;
    }
  }
}
