@use "./abstracts/variables" as *;
@use "./abstracts/reusables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", sans-serif;
}

html {
  font-size: 62.5%; // 1rem = 10px
  background-color: $white;
  color: black;
  scroll-behavior: smooth; // Adds smooth scrolling
}

h1 {
  font-size: $header1;
}
li,
p,
button,
label,
input,
a {
  font-size: $text;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

//Page Transitions

.page {
  transition: transform 1s ease-in-out;
}

.page-enter {
  opacity: 0;
  transform: translateX(200px);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.page-exit {
  opacity: 0;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(100px);
}

.page-enter-done,
.page-exit-done {
  opacity: 1;
  transform: translateX(0);
}

// MEDIA QUERIES (Uncommented and adjusted)
@media screen and (max-width: 1450px) {
  html {
    font-size: 56.25%; // 1rem = ~9px
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%; // 1rem = 8px
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%; // 1rem = ~7.2px
  }

  // Hide custom cursor or complex animations on mobile if you have them
  .splash {
    display: none;
  }
}
